.venv
A1/Q2/dataset/
A1/Q2/train_dataset/
A1/Q2/val_dataset/
A1/Q2/__pycache__/
A1/Q2/venv/
A1/Q2/wandb/
A1/Q3/dataset/
A1/Q3/wandb/
A2/Q4/__pycache__/
A2/Q4/cluster.py
A2/Q5/selected_pcds
A2/Q5/__pycache__
A3/Q1/CLIPS
A3/Q4/lavt-env/
A3/Q4/LAVT-RIS